In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
data = pd.read_csv('SalarayData.csv')
string_columns = [' workclass', ' education', ' marital-status', ' occupation', ' relationship', ' race', ' sex', ' native-country']

In [3]:
data.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [4]:
data = data.drop(columns=[' fnlwgt'])

In [5]:
data.columns

Index(['age', ' workclass', ' education', ' education-num', ' marital-status',
       ' occupation', ' relationship', ' race', ' sex', ' capital-gain',
       ' capital-loss', ' hours-per-week', ' native-country', ' income'],
      dtype='object')

In [6]:
train, test = train_test_split(data, test_size=0.2)

In [7]:
train.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
3502,40,Private,Prof-school,15,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,40,Mexico,>50K
20937,33,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
22786,27,?,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,40,United-States,<=50K
10304,30,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,44,United-States,<=50K
27168,56,Private,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

Using a Label Encoder - Categorical to Numerical

In [8]:
from sklearn import preprocessing

number = preprocessing.LabelEncoder()
for i in string_columns:
    train[i] = number.fit_transform(train[i])
    test[i] = number.fit_transform(test[i])

Assign the encoded variable for training and testing

In [9]:
colnames = train.columns
len(colnames[0:13])
trainX = train[colnames[0:13]]
trainY = train[colnames[13]]
testX = test[colnames[0:13]]
testY = test[colnames[13]]

Gaussian Naive Bayes classifier for model fitting

In [10]:
sgnb = GaussianNB ()

In [11]:
#Predictions for test data

spred_gnb = sgnb.fit(trainX, trainY).predict(testX)

In [12]:
#Confusion Matrix

from sklearn.metrics import confusion_matrix

cm_gnb = confusion_matrix(testY, spred_gnb)
print(cm_gnb)
print("Accuracy", (4755+498)/(4755+207+1053+498))

[[4749  228]
 [1016  520]]
Accuracy 0.806540764624597