In [10]:
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [12]:
X = dataset.iloc[:, [2,3]].values
Y = dataset.iloc[:, 4].values

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

Scaling using Standard Scaler for Normal Distribution

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Building the model using RBG Kernel

In [15]:
from sklearn.svm import SVC

classifier_rbf = SVC (kernel='rbf', random_state=0)
classifier_rbf.fit(X_train, Y_train)
y_pred_rbf = classifier_rbf.predict(X_test)

In [16]:
#Printing confusion matrix
from sklearn.metrics import confusion_matrix

cm_rbf = confusion_matrix(Y_test, y_pred_rbf)
print(cm_rbf)

[[64  4]
 [ 3 29]]

In [17]:
#Classification Report

from sklearn.metrics import classification_report

class_report_rbf = classification_report (Y_test, y_pred_rbf)
print(class_report_rbf)

              precision    recall  f1-score   support

           0       0.96      0.94      0.95        68
           1       0.88      0.91      0.89        32

    accuracy                           0.93       100
   macro avg       0.92      0.92      0.92       100
weighted avg       0.93      0.93      0.93       100